In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot
%matplotlib inline

In [2]:
data = pd.read_csv("SMSSpamCollection",sep = "\t",names = ["label","message"])

In [3]:
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
label      5572 non-null object
message    5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [6]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [10]:
data["length"] = data["message"].apply(len)

In [28]:
data[data["length"] == 10]["message"].iloc[0]

'Can a not?'

In [29]:
data["length"].min()

2

In [30]:
import string

In [31]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
message = "Sample message ! Notice : it has punctuations"

In [33]:
nopunc = [char for char in message if char not in string.punctuation]

In [35]:
print(nopunc)

['S', 'a', 'm', 'p', 'l', 'e', ' ', 'm', 'e', 's', 's', 'a', 'g', 'e', ' ', ' ', 'N', 'o', 't', 'i', 'c', 'e', ' ', ' ', 'i', 't', ' ', 'h', 'a', 's', ' ', 'p', 'u', 'n', 'c', 't', 'u', 'a', 't', 'i', 'o', 'n', 's']

In [36]:
#removal of stop words

In [51]:
def text_process(mess): 
    """ Takes in a string of text, then performs the following:
    1. Remove all punctuation 
    2. Remove all stopwords 
    3. Returns a list of the cleaned text """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]
    # Join the characters again to form the string. 
    nopunc = ''.join(nopunc)
    # Now just remove any stopwords 
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

SyntaxError: invalid syntax (probability.py, line 333)